In [ ]:
import numpy as  np
import pandas as pd

dict_test_data = {
     	 	 	
    "Gender" : "Male",
    "Married" : "Yes",
    "Dependents" : "0",
    "Education" : "Graduate",
    "Self_Employed" : "Yes",
    "LoanAmount" : 66,
    "Total_income" : 3000,
    "Loan_Amount_Term" : 360.0,
    "Credit_History" : 1.0,
    "Property_Area" :"Urban",
}

data_input = pd.DataFrame(dict_test_data, index = [0])

data_input

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Total_income,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,Yes,66,3000,360.0,1.0,Urban

In [ ]:
data_input['LoanAmount_log'] = np.log(data_input['LoanAmount'])

In [ ]:
data_input['Dependents'] = data_input['Dependents'].map({"0":0,
                                                         "1":1,"2":2,"3+":3})

data_input['Education'] = data_input['Education'].map({"Graduate":1,
                                                       "Not Graduate":0})

data_input['Gender'] = data_input['Gender'].map({"Male":1,"Female":0})

data_input['Married'] = data_input['Married'].map({"Yes":1,"No":0})

data_input['Self_Employed'] = data_input['Self_Employed'].map({"Yes":1,"No":0})

data_input['Property_Area'] = data_input['Property_Area'].map({"Rural":0,
                                                               "Semiurban":1,
                                                               'Urban':2})

data_input

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Total_income,Loan_Amount_Term,Credit_History,Property_Area,LoanAmount_log
0,1,1,0,1,1,66,3000,360.0,1.0,2,4.189655

In [ ]:
data_input['LoanAmount_log'] = np.log(data_input['LoanAmount'])
data_input.drop(['LoanAmount'], axis = 1, inplace = True)
data_input

,Gender,Married,Dependents,Education,Self_Employed,Total_income,Loan_Amount_Term,Credit_History,Property_Area,LoanAmount_log
0,1,1,0,1,1,3000,360.0,1.0,2,4.189655

In [ ]:
data_input.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            1 non-null      int64
 1   Married           1 non-null      int64
 2   Dependents        1 non-null      int64
 3   Education         1 non-null      int64
 4   Self_Employed     1 non-null      int64
 5   Loan_Amount_Term  1 non-null      float64
 6   Credit_History    1 non-null      float64
 7   Property_Area     1 non-null      int64
 8   LoanAmount_log    1 non-null      float64
dtypes: float64(3), int64(6)
memory usage: 80.0 bytes

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pickle

folder_path = "/content/drive/My Drive/Selling Project/\
Real Time Projects/Loan Default Classification/Data Files/"
algo_name = "Gradient_boosting.pkl"

filepath = folder_path + algo_name

with open(filepath, "rb") as file_pointer:
    model = pickle.load(file_pointer)

model

GradientBoostingClassifier()

In [ ]:
model.predict(data_input)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([1])

In [ ]:
model.predict_proba(data_input)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([[0.24219144, 0.75780856]])